<div class = photos>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/susi1027491_TP_V.jpg" title = "災害派遣">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/ELL15110737_TP_V.jpg" title = "耐震を気にするリス">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/amehuruIMGL5887_TP_V.jpg" title = "山の斜面から大量の雨水">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/taifuhidoi101_TP_V.jpg" title = "台風後">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/taihu-0I9A5591_TP_V.jpg" title = "出社する社畜">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/ISHI_kazantouda_TP_V.jpg" alt = "火山">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/sayapon20151005094013_TP_V.jpg" alt = "中継するアナウンサー">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/gunma-IMGL6029_TP_V.jpg" alt = "山地災害の恐れ看板">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/KM19814277_TP_V.jpg" alt = "救助ヘリ">
  </div>
  <div class = photo>
    <img src = "https://www.pakutaso.com/shared/img/thumb/gunma-IMGL6207_TP_V.jpg" alt = "強風が吹く毛無峠">
  </div>
</div>