.popup-overlay{
  visibility:hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.popup-overlay.active{
  visibility:visible;
}
.popup-content {
 visibility:hidden;
 background-color: #fff;
 position: absolute;
 width:50%;
 height:50%;
 border:3px solid #666666;
 top: 25%;
 left:25%;
}
.popup-content.active {
  visibility:visible;
}
.input-box_area{
  height: 20px;
  width: 40%;
  font-size: 20px;
  border-color: coral;
  padding-left: 5px;
  margin-top: 10px;
  margin-left: 5px;
}
.input-box_title{
  height: 20px;
  width: 80%;
  font-size: 20px;
  border-color: coral;
  padding-left: 5px;
  margin-top: 10px;
  margin-left: 5px;
}
.input-box_text{
  height: 20vh;
  width: 90%;
  font-size: 20px;
  border-color: coral;
  padding-left: 5px;
  margin-top: 10px;
  margin-left: 5px;
}
.syashin{
  color: cadetblue;
  cursor: pointer;
  color: forestgreen;
  font-size: 60px;
  margin-left: 5px;
}
.hidden{
  display: none;
}
.submit-btn{
  width: 80px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
  background-color: beige;
  border-color: lightsalmon;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.submit-btn:hover{
  background-color: lightsalmon;
  transition: 0.8s;
}
.close{
  font-size: 15px;
  border:1px solid rgb(117, 191, 191);
  background-color: beige;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 30px;
}
.close:hover{
  background-color: rgb(117, 191, 191);
  transition: 0.8s;
  transition-property: background-color;
}