.header{
  background-color: rgb(36, 36, 87);
  height: 80px;
  position: relative;
}
.title{
  color: orangered;
  font-size: 80px;
}
#sub-title{
  color: orangered;
  position: absolute;
  top: 46px;
  right: 30px;
  font-size: 25px;
}
#user-name{
  color: cyan;
  font-size: 40px;
  position: absolute;
  right: 40px;
  top: 0px;
}

.main{
  display: flex;
}
.side-bar{
  height: calc(100vh - 80px - 30px);
  width: 200px;
  background-color: rgb(81, 81, 129);
}
.user-box{
  display: flex;
  margin-top: 30px;
}
#sign-out{
  font-size: 20px;
  margin-left: 5px;
}
#sign-out a{
  text-decoration: none;
  color: coral;
  border: outset;
}
#sign-up{
  font-size: 20px;
  margin-left: 5px;
}
#sign-up a{
  text-decoration: none;
  color: coral;
  border: outset;
}
#sign-in{
  margin-left: 20px;
  font-size: 20px;
}
#sign-in a{
  text-decoration: none;
  color: coral;
  border: outset;
}
#watch-info{
  font-size: 20px;
  margin-top: 60px;
  margin-left: 5px;
}
#watch-info a{
  color: coral;
}
#post-info{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 5px;
  color: coral;
  cursor: pointer;
  text-decoration: underline;
}
#weather{
  color: coral;
  text-decoration: underline;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 5px;
  cursor: pointer;
}

.main-content{
  height: calc(100vh - 80px - 30px);
  width: calc(100vw - 200px);
  background-color: lavender;
}
.photos{
  height: 450px;
}
.photos.hidden{
  visibility: hidden;
}
.photos img {
  height: 450px;
  width: 100%;
  }
.maps{
  visibility: hidden;
  display: flex;
  overflow: scroll;
  z-index: 0.5;
  position: absolute;
  top: 80px;
  left: 200px;
  width: calc(100vw - 200px);
}
.maps.active{
  visibility: visible;
}
.map{
  margin-right: 200px;
}
.tojiru{
  background-color: aqua;
  position: absolute;
  top: 83%;
  left: 240px;
  font-size: 25px;
  border-radius: 20px;
  border: solid blue;
  cursor: pointer;
}
.tojiru:hover{
  background-color: blue;
  transition: 0.8s;
  transition-property: background-color;
}

.footer{
  height: 30px;
  background-color: rgb(36, 36, 87);
  color: cyan;
  text-align: center;
  line-height: 30px;
}
